@import '../../style';

.forYou {
    width: 100%;
    // height: 100%;
    h2 {
        @include sectionTitle($green);
        margin: 20px 0px;
    }
    p{
        font-family: $nav-font;
        font-size: 20px;
        margin: 10px 0px;
    }
    .role {
        font-family: $name-font;
    }
   .love-you {
       text-align: center;
       font-size: 50px;
       color: $purple;
   }

   .videos-div {
       display: flex;
       justify-content: space-around;
       align-items: flex-start;
        .pittsburgh-vid {
            width: 450px;
        }
        .adyHazel-vid {
            width: 450px;
        }
   }
}