@mixin centerInDiv {
    display: flex;
    align-items: center;
    justify-content: center;
}

.homepage {
    // display: flex;
}
img {
    width: 50%;
    // z-index: 1;
}
.name {
    width: 700px;
    height: 100%;
    position: absolute;
    top: 0;
    right: 0;
    // right: 20%;
    z-index: 2;
    @include centerInDiv();
    background-image: linear-gradient(to left, blue, white);
}