@import '../../style';

header {
    background-color: #A4036F;
    height: 50px;
    width: 100%;
    display: flex;
    padding: 0px 15px;
    position: fixed;
    top: 0;

    a {
        align-self: center;
        text-decoration: none;
        color: white;
        &:hover {
            color: black;
        }
    }
}
