@import '../../style';

@mixin center {
    display: flex;
    justify-content: center;
    align-items: center;
}

.navbar {
    width: $nav-width;
    height: 100%;
    background: $green;
    padding-top: 25px;
    position: fixed;
    left: 0;

    .link {
        font-family: $nav-font;
        text-transform: uppercase;
        letter-spacing: 1px;
        color: black;
        display: block;
        text-decoration: none;
        font-size: 18px;
        padding: 20px;
        &:hover {
            color: white;
        }
    }
    
}
