@import '../../style';

@mixin center {
    display: flex;
    justify-content: center;
    align-items: center;
}

.navbar {
    width: 20%;
    // height: 100%;
    background: grey;
    // display: inline-block;

    .link {
        display: block;
        color: white;
        text-decoration: none;
        margin-bottom: 20px;
        &:hover {
            color: black;
        }
    }
    
}
