@import '../../style';

@mixin center {
    display: flex;
    justify-content: center;
    align-items: center;
}

.navbar {
    width: 20%;
    // height: 100%;
    background: $green;
    padding: 15px;
    // display: inline-block;

    .link {
        display: block;
        color: black;
        text-decoration: none;
        font-family: $nav-font;
        text-transform: uppercase;
        letter-spacing: 1px;
        margin-bottom: 20px;
        &:hover {
            color: black;
        }
    }
    
}
