//variables
$purple: #A4036F;
$green: #0DB39E;
$yellow: #F1C453;
$grey: #EBEBEB;

$section-width: 80%;
$nav-width: 220px;

$name-font: 'Oswald', sans-serif;
$message-font: 'Raleway', sans-serif;
$nav-font: 'Lato', sans-serif;


//mixins
@mixin centerInDiv {
    display: flex;
    justify-content: center;
    align-items: center;
}
@mixin tileBorder($color) {
    border: solid white 5px;
    border-left: solid $color 5px;
    &:hover {
        border: solid $color 5px;
    }
}
@mixin sectionTitle($color) {
    font-size: 30px;
    font-family: $nav-font;
    text-transform: uppercase;
    letter-spacing: 1px;
    color: $color;
}

.page {
    margin-top: 50px;
    display: flex;
}
.section {
    margin-left: $nav-width;
    padding: 15px 20px;
    background-color: $grey;
}
.tile-container {
    display: grid;
    grid-gap: 15px;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    grid-auto-flow: dense;
    // z-index: -1;
}
.tile {
    background-color: rgba(255, 255, 255, 1);
    padding: 10px;
    z-index: 0;

    .message {
        margin-bottom: 10px;
        font-family: $message-font;
        font-weight: 500;
    }
    .name {
        font-family: $name-font;
        text-transform: uppercase;
        font-size: 20px;
    }
}

.tile-with-pic {
    grid-column: span 2;
    display: flex;
    border: solid black;

    .message-div {
        background-color: black;
        padding: 10px;
        max-width: 60%;
        font-family: $message-font;
        font-weight: 500;


        p {
            margin: 0px;
            text-align: right;
            color: white;
            font-family: $message-font;
        }
        .name {
            width: fit-content;
            border-top: solid white 1px;
            
            padding: 10px;
            margin-top: 10px;
            font-size: 20px;
            float: right;
            font-family: $name-font;
            text-transform: uppercase;
            

        }
        
    }
    img {
            width: 300px;
            max-height: 250px;
            object-fit: cover;
            z-index: 2;
            &:hover {
                transform: scale(1.5);
                z-index: 2;
            }
    }



}